body {
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
    background-color: papayawhip;
    color: darkblue;
    color: rgb(0,0,0);
    /* rgb() red,green,blue */
}
p {
    color: rgba(0,0,0,0.5);
    /* a alpha guides transparency */

    color: #000000;

    color: #333;
}